name: ci

on:
  pull_request:
    branches:
      - main

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Build dev image
        uses: docker/build-push-action@v5
        with:
          push: false
          tags: okteto/aspnetcore-getting-started:dev
          target: dev
      - name: Build prod image
        uses: docker/build-push-action@v5
        with:
          push: false
          tags: okteto/aspnetcore-getting-started:hello-world
